@use "../common";
@use "../abstracts" as *;

.dashboard_container {
  height: 100vh;
  background: $background_white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding: $padding_3x $padding_7x;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: $margin_6x 0 0 0;
    &__title {
      font-size: $font_size_7x;
      font-weight: 500;
    }
  }
  &__content {
    display: flex;
    margin: $margin_4x 0;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
  }
}

.new_account {
  &__lock_date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #aaa;
    border-radius: $border_radius_2x;
    padding: 0 $padding_3x;
    margin: $margin_3x 0 0 0;
    cursor: pointer;
    position: relative;
    p {
      font-size: $font_size_3x;
      color: $color_gray_4;
    }
    &__title {
      // font-style: italic;
    }
    &__date_container {
      display: flex;
      p {
        padding: $padding_3x;
        color: $color_gray_2;
      }
    }
  }
  button {
    padding: $padding_2x $padding_3x;
    width: 100%;
    margin: $margin_3x 0;
  }
}
