@use "../common";
@use "../abstracts" as *;

.home_container {
  &__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px $padding_7x;
    height: 100vh;
    background: url("/assets/images/lockedEth_2.png") no-repeat right center,
      url("/assets/images/homepage_background.svg") no-repeat;
    background-size: 470px 500px, cover;
    background-origin: content-box, padding-box;
    &__title,
    &__content,
    &__stats {
      max-width: 55%;
      color: $color_white;
      margin-top: 50px;
    }
    &__title {
      font-size: $font_size_7x;
      font-weight: 600;
    }
    &__content {
      margin: 10px 0;
      font-size: $font_size_2x;
      font-weight: 400;
      &__button {
        margin: $margin_4x 0;
        display: flex;
        align-items: center;
        transition: all 0.2s linear;
        &__loader {
          margin: 0 $margin_2x 0 0;
          width: 20px;
          height: 20px;
          border: 1px solid $color_white;
          border-radius: $border_radius_round;
          border-top: none;
          border-right: none;
          animation: spinner 0.8s linear infinite;
          display: none;
        }
        .show_loader {
          display: block;
        }
      }
    }
    &__stats {
      display: flex;
      align-items: center;
      margin-top: $margin_3x;
      &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__title {
          font-size: $font_size_3x;
          font-weight: 300;
          width: 50%;
          text-align: center;
        }
        &__content {
          font-size: $font_size_7x;
          font-weight: 600;
        }
        &:first-child {
          margin-right: $margin_2x;
        }
      }
    }
  }
  &__how_it_works {
    padding: 0px $padding_7x;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background_white;
    &__title {
      font-size: $font_size_8x;
      font-weight: 600;
      padding: $padding_7x;
    }
    &__step {
      width: 100%;
      padding: $padding_5x $padding_7x;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &__title {
        min-width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $color_gray;
        font-weight: 600;
        font-size: $font_size_7x;
        &::after {
          content: "";
          height: 100px;
          width: 2px;
          margin: $margin_5x 0 0 0;
          background: $color_step;
        }
      }
      &__last {
        &::after {
          height: 0px;
          width: 0;
        }
      }
      &__description {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
        }
        &__details {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 75%;
          margin: $margin_2x 0;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__images {
            margin: $margin_2x;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) and (max-height: 535px) {
  .home_container {
    &__home {
      height: 600px;
    }
  }
}

@media only screen and (max-width: 924px) {
  .home_container {
    &__home {
      padding: 0px 0 0 $padding_7x;
    }
  }
}

@media only screen and (max-width: 886px) {
  .home_container {
    &__home {
      background: url("/assets/images/homepage_background.svg") no-repeat;
      margin: 0;
      padding: 0 $padding_7x;
      &__title,
      &__content,
      &__stats {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 724px) {
  .home_container {
    &__how_it_works {
      &__title {
        padding: $padding_6x 0;
      }
      &__step {
        flex-direction: column;
        align-items: center;
        padding: $padding_5x 0;
        &__title {
          &::after {
            content: "";
            height: 0px;
            width: 0px;
            margin: $margin_5x 0 0 0;
            background: $color_step;
          }
        }
        &__description {
          width: 100%;
          &::after {
            content: "";
            height: 100px;
            width: 2px;
            margin: $margin_5x 0 0 0;
            background: $color_step;
          }
        }
        &__last {
          &::after {
            height: 0px;
            width: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home_container {
    &__home {
      background: url("/assets/images/homepage_background.svg") no-repeat;
      margin: 0;
      padding: 0 $padding_7x;
      &__title,
      &__content,
      &__stats {
        max-width: 100%;
        // margin-top: 50px;
      }
      &__title {
        font-size: $font_size_6x;
      }
      &__content {
        &__button {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) and (max-height: 535px) {
  .home_container {
    &__home {
      height: 535px;
    }
  }
}

@media only screen and (max-width: 450px) and (max-height: 535px) {
  .home_container {
    &__home {
      height: 700px;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
