$margin_1x: 5px;
$margin_2x: 10px;
$margin_3x: 15px;
$margin_4x: 30px;
$margin_5x: 40px;
$margin_6x: 60px;

$padding_1x: 5px;
$padding_2x: 10px;
$padding_3x: 15px;
$padding_4x: 20px;
$padding_5x: 25px;
$padding_6x: 30px;
$padding_7x: 60px;

$border_radius_1x: 3px;
$border_radius_2x: 5px;
$border_radius_3x: 10px;
$border_radius_4x: 15px;
