@use "../../../styles/abstracts/" as *;

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 60px;
  .link {
    margin-right: 30px;
    padding: 10px;
    color: $white;

    &:hover {
      color: $white;
    }
    &.active {
      font-weight: 500;
      border: 1px solid $white;
      color: $white;
      border-left: none;
      border-right: none;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    padding: 5px;
    &__app_name {
      margin-left: 15px;
      font-size: $header_title;
      font-weight: 600;
      color: $white;
    }
  }
  &__right {
  }
}
